blinker==1.9.0
box2d-py==2.3.5
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.0
contourpy==1.3.1
cycler==0.12.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Farama-Notifications==0.0.4
ffprobe==0.5
filelock==3.16.1
Flask==3.0.3
fonttools==4.55.0
fsspec==2024.10.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
idna==3.10
importlib_metadata==8.6.1
influxdb==5.3.2
itsdangerous==2.2.0
kiwisolver==1.4.7
matplotlib==3.9.2
mpmath==1.3.0
msgpack==1.1.0
narwhals==1.26.0
networkx==3.4.2
numpy==2.1.3
pandas==2.2.3
pika==1.3.2
pillow==11.0.0
plotly==6.0.0
pydub==0.25.1
pygame==2.6.1
pyparsing==3.2.0
retrying==1.3.4
SQLAlchemy==2.0.36
srt==3.5.3
swig==4.2.1.post0
sympy==1.13.1
torch==2.5.1
tqdm==4.67.0
tzdata==2025.1
vosk==0.3.44
webencodings==0.5.1
websockets==14.1
Werkzeug==3.0.6
zipp==3.21.0
